.mother{
    display: grid;
    /* justify-content: space-around; */
    /* background-image: url(/assignment/wildlife2.jpg) ;
    background-size: contain; */
    /* background-repeat: no-repeat; */
    /* grid-template-rows: 1fr 1fr ; */
    grid-template-columns: 1fr 1fr 1fr 1fr;

    margin-top: 20%;
    color: white;
    font-weight: 600;
    width: 40%;
    /* margin: 100px auto; */
    padding-top: 10px;
    /* border-radius: 30px; */
    height: 75%;
    margin-left: 28%;
    

}
img{
    border-radius: 300px;
    width: 50px;
    height: 50px;
}
div {
    text-align: center;
    /* flex-basis: 25%;
    flex-wrap: wrap; */

}
body{
    background-image: url(/images/n3.jpg);
}
.input{
    position: relative;
    /* left: 30%; */
    top: 250px;
    width:600px ;
    right: 10px;
    padding: 10px;
    border-radius: 20px;

}
.header{
    text-align: center;
    position: relative;
    top: 230px;
    font-size: 45px;
    
}.gee{
    color: blue;
}
.lee{
    color: green;
}
.hoe{
    color: brown;
}
.hoe2{
    color: orange;
}
.fatherdiv{
margin-bottom: 15px;
}