/* desktop first approach starts here */

@media screen and (min-width: 1200px){
body{
    background-color: aqua;
}
.div_1{
    background-color: rgba(184, 202, 20, 0.781);
    width: 70%;
    }
  .img1{
        width: 10%;
    }
    .img2{
        width: 50%;
    }
    .img3{
        width: 40%;
    }
    /* desktop */
    @media screen and (min-width: 1025px) and (max-width: 1199px){
        body{
            background-color: rgb(17, 17, 177);
        }
        .div_1{
            background-color: rgb(199, 27, 27);
            width: 70%;
        }  
        .img1{
            width: 10%;
        }
        .img2{
            width: 50%;
        }
        .img3{
            width: 50%;
        }
    /* small laptop */
    @media screen and (min-width: 768px) and (max-width: 1024px){
        body{
            background-color: rgb(17, 17, 177);
        }
        .div_1{
            background-color: rgb(131, 122, 122);
            width: 70%;
        }  
        .img1{
            width: 10%;
        }
        .img2{
            width: 50%;
        }
        .img3{
            width: 50%;
        }
} /* tablet */
@media screen and (min-width: 575px) and (max-width: 767.98px){
    body{
        background-color:maroon;
    }
.div_1{
    background-color:rgb(124, 80, 155));
    width: 70%;
}
.img1{
    width: 10%;
}
.img2{
    width: 50%;
}
.img3{
    width: 50%;
}
} /* tablet and large mobiles */
@media screen and (min-width: 481px) and (max-width: 574px){
    body{
        background-color: rgb(78, 49, 49);
    }
    .div_1{
        background-color: rgb(18, 196, 71);
        color: white;
        width: 70%;

    }  
    .img1{
        width: 10%;
    }
    .img2{
        width: 50%;
    }
    .img3{
        width: 50%;
    }
@media screen and min-width: 320px) and (max-width: 480px){
    body{
        background-color: darkgray;
    }
    .div_1{
        background-color: brown;
        width: 70%;
    }  
    .img1{
        width: 10%;
    }
     .img2{
        width: 50%;
    }       
    .img3{
        width: 50%;
    }
}/* Mobile*/